{
  "openapi": "3.0.1",
  "info": {
    "title": "Payments",
    "description": "Use a single API that orchestrates the payment flow to include FraudSight, 3DS and Token creation.\n\n__Authentication__\n\nSet your headers \n\n```   \nAuthorization: {your_credentials}    \nContent-Type: application/json    \nWP-Api-Version: 2024-06-01\n```    \n\nReplace `{your_credentials}` with your base64-encoded Basic Auth username and password.  \n\n__DNS whitelisting__\n\nWhitelist the following URLs:    \n* `https://try.access.worldpay.com/`\n* `https://access.worldpay.com/`\n\nPlease ensure you use DNS whitelisting, not explicit IP whitelisting. When you make a request within Access Worldpay, you should always cache the response returned. \n\n__API collection__\n\nA full set of API examples based on different scenarios. \n\n * __[Download Postman collection](./collections/index.md)__\n",
    "version": "2024-06-01",
    "x-metadata": {
      "catalog-list": true,
      "business": [
        "Enterprise",
        "SMB (Worldpay eCommerce)"
      ],
      "generated": true,
      "tags": [
        "Orchestration"
      ],
      "category": [
        "3DS",
        "SCA Exemptions",
        "Card Payments",
        "Risk Assessments",
        "Tokens",
        "Wallets"
      ]
    }
  },
  "servers": [
    {
      "url": "https://try.access.worldpay.com",
      "description": "Try"
    },
    {
      "url": "https://access.worldpay.com",
      "description": "Live"
    }
  ],
  "security": [
    {
      "BasicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Payment",
      "description": "Take a payment"
    },
    {
      "name": "3DS Actions",
      "description": "If 3DS is enabled additional actions are required"
    },
    {
      "name": "Manage Payments",
      "description": "Additional payment actions following authorization"
    }
  ],
  "paths": {
    "/api/payments": {
      "post": {
        "tags": [
          "Payment"
        ],
        "summary": "Payment request",
        "description": "Initiate Payment. Take merchant entity as default if not provided",
        "operationId": "payment",
        "parameters": [
          {
            "name": "WP-Api-Version",
            "in": "header",
            "description": "The API version",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The API version",
              "example": "2024-06-01",
              "enum": [
                "2024-06-01"
              ]
            },
            "example": "2024-06-01"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              },
              "examples": {
                "Card - ecom": {
                  "$ref": "#/components/examples/card-payment"
                },
                "Card - moto": {
                  "$ref": "#/components/examples/card-payment_moto"
                },
                "Card - auto settlement": {
                  "$ref": "#/components/examples/card-payment-auto-settlement"
                },
                "Card - 3DS authentication": {
                  "$ref": "#/components/examples/card-payment-3ds"
                },
                "Card - SCA exemption in authorization": {
                  "$ref": "#/components/examples/card-payment-exemption-authorization"
                },
                "Card - Fraud assessment": {
                  "$ref": "#/components/examples/card-payment-fraud"
                },
                "Card - Payment facilitator": {
                  "$ref": "#/components/examples/card-payment-payfac"
                },
                "Card - Account funding transaction (AFT)": {
                  "$ref": "#/components/examples/card-payment-fundsTransfer"
                },
                "Card - Preferred card brand": {
                  "$ref": "#/components/examples/card-payment-cobranded"
                },
                "Card - Checkout SDK session": {
                  "$ref": "#/components/examples/card-payment-checkout"
                },
                "Card - payment & store (Worldpay Token)": {
                  "$ref": "#/components/examples/store-card-token"
                },
                "Card - Store card (no payment)": {
                  "$ref": "#/components/examples/store-card-only-token"
                },
                "Stored - Worldpay Token": {
                  "$ref": "#/components/examples/use-stored-card-token"
                },
                "Stored - Network Token": {
                  "$ref": "#/components/examples/use-stored-card-network-token"
                },
                "Stored - Worldpay Token & Checkout CVC session": {
                  "$ref": "#/components/examples/use-stored-card-checkout-cvc"
                },
                "Google Pay - encrypted": {
                  "$ref": "#/components/examples/google-pay-encrypted"
                },
                "Apple Pay - encrypted": {
                  "$ref": "#/components/examples/apple-pay-encrypted"
                },
                "Subscription - setup": {
                  "$ref": "#/components/examples/setup-recurring-subscription"
                },
                "Subscription - setup - (no payment)": {
                  "$ref": "#/components/examples/setup-recurring-subscription-zero"
                },
                "Subscription - subsequent": {
                  "$ref": "#/components/examples/subsequent-recurring-subscription"
                },
                "Installment - setup (merchant)": {
                  "$ref": "#/components/examples/setup-recurring-installment-merchant"
                },
                "Installment - subsequent (merchant)": {
                  "$ref": "#/components/examples/subsequent-recurring-installment-merchant"
                },
                "Installment - setup (Latin America)": {
                  "$ref": "#/components/examples/setup-recurring-installment-latam"
                },
                "Unscheduled": {
                  "$ref": "#/components/examples/recurring-unscheduled"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsResponse201"
                },
                "examples": {
                  "authorized (basic)": {
                    "$ref": "#/components/examples/authorized-201-basic"
                  },
                  "authorized (full)": {
                    "$ref": "#/components/examples/authorized-201-full"
                  },
                  "3dsDeviceDataRequired": {
                    "$ref": "#/components/examples/3ds-device-data-required-201"
                  },
                  "fraudHighRisk": {
                    "$ref": "#/components/examples/fs-highrisk"
                  },
                  "refused": {
                    "$ref": "#/components/examples/refused-201"
                  }
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsResponse202"
                },
                "examples": {
                  "sentForSettlement (basic)": {
                    "$ref": "#/components/examples/sent-for-settlement-202-basic"
                  },
                  "sentForSettlement (full)": {
                    "$ref": "#/components/examples/sent-for-settlement-202-full"
                  },
                  "sentForCancellation": {
                    "$ref": "#/components/examples/sent-for-cancellation-202"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "Bad request": {
                    "$ref": "#/components/examples/400"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/401"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Not found": {
                    "$ref": "#/components/examples/404"
                  }
                }
              }
            }
          },
          "406": {
            "description": "Not acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeaderErrorResponse"
                },
                "examples": {
                  "Not acceptable": {
                    "$ref": "#/components/examples/406"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Unsupported media type": {
                    "$ref": "#/components/examples/415"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Internal server error": {
                    "$ref": "#/components/examples/500"
                  }
                }
              }
            }
          }
        },
        "x-orderingPosition": "1"
      }
    },
    "/api/payments/{linkData}/3dsDeviceData": {
      "post": {
        "tags": [
          "3DS Actions"
        ],
        "summary": "Supply 3DS device data",
        "description": "Gather additional device data. `linkData` refers to the pre-encoded segment of the URL that uniquely identifies a payment resource. It appears immediately after `/payments/` and continues until the next `/` or URL delimiter.",
        "operationId": "supply3dsDeviceData",
        "parameters": [
          {
            "name": "linkData",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "WP-Api-Version",
            "in": "header",
            "description": "The API version",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The API version",
              "example": "2024-06-01",
              "enum": [
                "2024-06-01"
              ]
            },
            "example": "2024-06-01"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceDataRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceDataResponse201"
                },
                "examples": {
                  "3dsChallenged": {
                    "$ref": "#/components/examples/3ds-challenged-201"
                  },
                  "authorized": {
                    "$ref": "#/components/examples/authorized-3ds-frictionless-201"
                  },
                  "refused": {
                    "$ref": "#/components/examples/refused-201"
                  },
                  "3dsUnavailable": {
                    "$ref": "#/components/examples/3ds-unavailable-201"
                  },
                  "3dsAuthenticationFailed": {
                    "$ref": "#/components/examples/3ds-authentication-failed-201"
                  }
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceDataResponse202"
                },
                "examples": {
                  "sentForSettlement": {
                    "$ref": "#/components/examples/sent-for-settlement-3ds-frictionless-202"
                  },
                  "sentForCancellation": {
                    "$ref": "#/components/examples/sent-for-cancellation-202"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "Bad request": {
                    "$ref": "#/components/examples/400"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/401"
                  }
                }
              }
            }
          },
          "406": {
            "description": "Not acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeaderErrorResponse"
                },
                "examples": {
                  "Not acceptable": {
                    "$ref": "#/components/examples/406"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Unsupported media type": {
                    "$ref": "#/components/examples/415"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Internal server error": {
                    "$ref": "#/components/examples/500"
                  }
                }
              }
            }
          }
        },
        "x-orderingPosition": "2"
      }
    },
    "/api/payments/{linkData}/3dsChallenges": {
      "post": {
        "tags": [
          "3DS Actions"
        ],
        "summary": "Continue with payment after 3DS challenge",
        "description": "Verify authentication challenge. `linkData` refers to the pre-encoded segment of the URL that uniquely identifies a payment resource. It appears immediately after /payments/ and continues until the next / or URL delimiter.",
        "operationId": "complete3dsChallenge",
        "parameters": [
          {
            "name": "linkData",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "WP-Api-Version",
            "in": "header",
            "description": "The API version",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The API version",
              "example": "2024-06-01",
              "enum": [
                "2024-06-01"
              ]
            },
            "example": "2024-06-01"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChallengeResponse201"
                },
                "examples": {
                  "authorized": {
                    "$ref": "#/components/examples/authorized-3ds-challenged-201"
                  },
                  "refused": {
                    "$ref": "#/components/examples/refused-201"
                  },
                  "3dsUnavailable": {
                    "$ref": "#/components/examples/3ds-unavailable-201"
                  },
                  "3dsAuthenticationFailed": {
                    "$ref": "#/components/examples/3ds-authentication-failed-201"
                  }
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChallengeResponse202"
                },
                "examples": {
                  "sentForSettlement": {
                    "$ref": "#/components/examples/sent-for-settlement-3ds-challenged-202"
                  },
                  "sentForCancellation": {
                    "$ref": "#/components/examples/sent-for-cancellation-202"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "Bad request": {
                    "$ref": "#/components/examples/400"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/401"
                  }
                }
              }
            }
          },
          "406": {
            "description": "Not acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeaderErrorResponse"
                },
                "examples": {
                  "Not acceptable": {
                    "$ref": "#/components/examples/406"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Unsupported media type": {
                    "$ref": "#/components/examples/415"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Internal server error": {
                    "$ref": "#/components/examples/500"
                  }
                }
              }
            }
          }
        },
        "x-orderingPosition": "3"
      }
    },
    "/api/payments/{linkData}": {
      "get": {
        "tags": [
          "Manage Payments"
        ],
        "summary": "Payment query request",
        "description": "Query a payment. `linkData` refers to the pre-encoded segment of the URL that uniquely identifies a payment resource. It appears immediately after `/payments/` and continues until the next `/` or URL delimiter.",
        "operationId": "queryEvents",
        "parameters": [
          {
            "name": "linkData",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "WP-Api-Version",
            "in": "header",
            "description": "The API version",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The API version",
              "example": "2024-06-01",
              "enum": [
                "2024-06-01"
              ]
            },
            "example": "2024-06-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryEventsResponse"
                },
                "examples": {
                  "Query Response Example": {
                    "$ref": "#/components/examples/query-202"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "Bad request": {
                    "$ref": "#/components/examples/400"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Not found": {
                    "$ref": "#/components/examples/404"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Internal server error": {
                    "$ref": "#/components/examples/500"
                  }
                }
              }
            }
          }
        },
        "x-orderingPosition": "4"
      }
    },
    "/api/payments/{linkData}/settlements": {
      "post": {
        "tags": [
          "Manage Payments"
        ],
        "summary": "Submit a payment settle request",
        "description": "Settle a payment. `linkData` refers to the pre-encoded segment of the URL that uniquely identifies a payment resource. It appears immediately after `/payments/` and continues until the next `/` or URL delimiter.",
        "operationId": "settle",
        "parameters": [
          {
            "name": "linkData",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "WP-Api-Version",
            "in": "header",
            "description": "The API version",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The API version",
              "example": "2024-06-01",
              "enum": [
                "2024-06-01"
              ]
            },
            "example": "2024-06-01"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The content type",
              "example": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettleResponse"
                },
                "examples": {
                  "sentForSettlement": {
                    "$ref": "#/components/examples/sent-for-settlement-202-2"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/401"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Not found": {
                    "$ref": "#/components/examples/404"
                  }
                }
              }
            }
          },
          "406": {
            "description": "Not acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeaderErrorResponse"
                },
                "examples": {
                  "Not acceptable": {
                    "$ref": "#/components/examples/406"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Unsupported media type": {
                    "$ref": "#/components/examples/415"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Internal server error": {
                    "$ref": "#/components/examples/500"
                  }
                }
              }
            }
          }
        },
        "x-orderingPosition": "5"
      }
    },
    "/api/payments/{linkData}/partialSettlements": {
      "post": {
        "tags": [
          "Manage Payments"
        ],
        "summary": "Submit a payment partial settle request",
        "description": "Partially settle a payment. `linkData` refers to the pre-encoded segment of the URL that uniquely identifies a payment resource. It appears immediately after `/payments/` and continues until the next `/` or URL delimiter.",
        "operationId": "partialSettle",
        "parameters": [
          {
            "name": "linkData",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "WP-Api-Version",
            "in": "header",
            "description": "The API version",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The API version",
              "example": "2024-06-01",
              "enum": [
                "2024-06-01"
              ]
            },
            "example": "2024-06-01"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentsPartialSettleRequest"
              },
              "examples": {
                "sentForSettlement": {
                  "$ref": "#/components/examples/partial-settle"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartialSettleResponse"
                },
                "examples": {
                  "sentForSettlement": {
                    "$ref": "#/components/examples/sent-for-partial-settlement-202"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "Bad request": {
                    "$ref": "#/components/examples/400"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/401"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Not found": {
                    "$ref": "#/components/examples/404"
                  }
                }
              }
            }
          },
          "406": {
            "description": "Not acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeaderErrorResponse"
                },
                "examples": {
                  "Not acceptable": {
                    "$ref": "#/components/examples/406"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Unsupported media type": {
                    "$ref": "#/components/examples/415"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Internal server error": {
                    "$ref": "#/components/examples/500"
                  }
                }
              }
            }
          }
        },
        "x-orderingPosition": "6"
      }
    },
    "/api/payments/{linkData}/refunds": {
      "post": {
        "tags": [
          "Manage Payments"
        ],
        "summary": "Submit a payment refund request",
        "description": "Refund a payment. `linkData` refers to the pre-encoded segment of the URL that uniquely identifies a payment resource. It appears immediately after `/payments/` and continues until the next `/` or URL delimiter.",
        "operationId": "refund",
        "parameters": [
          {
            "name": "linkData",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "WP-Api-Version",
            "in": "header",
            "description": "The API version",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The API version",
              "example": "2024-06-01",
              "enum": [
                "2024-06-01"
              ]
            },
            "example": "2024-06-01"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The content type",
              "example": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                },
                "examples": {
                  "sentForRefund": {
                    "$ref": "#/components/examples/sent-for-refund-202"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/401"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Not found": {
                    "$ref": "#/components/examples/404"
                  }
                }
              }
            }
          },
          "406": {
            "description": "Not acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeaderErrorResponse"
                },
                "examples": {
                  "Not acceptable": {
                    "$ref": "#/components/examples/406"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Unsupported media type": {
                    "$ref": "#/components/examples/415"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Internal server error": {
                    "$ref": "#/components/examples/500"
                  }
                }
              }
            }
          }
        },
        "x-orderingPosition": "7"
      }
    },
    "/api/payments/{linkData}/partialRefunds": {
      "post": {
        "tags": [
          "Manage Payments"
        ],
        "summary": "Submit a payment partial refund request",
        "description": "Partially refund a payment. `linkData` refers to the pre-encoded segment of the URL that uniquely identifies a payment resource. It appears immediately after `/payments/` and continues until the next `/` or URL delimiter.",
        "operationId": "partialRefund",
        "parameters": [
          {
            "name": "linkData",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "WP-Api-Version",
            "in": "header",
            "description": "The API version",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The API version",
              "example": "2024-06-01",
              "enum": [
                "2024-06-01"
              ]
            },
            "example": "2024-06-01"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentsPartialRefundRequest"
              },
              "examples": {
                "sentForPartialRefund": {
                  "$ref": "#/components/examples/partial-refund"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartialRefundResponse"
                },
                "examples": {
                  "sentForPartialRefund": {
                    "$ref": "#/components/examples/sent-for-partial-refund-202"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "Bad request": {
                    "$ref": "#/components/examples/400"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/401"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Not found": {
                    "$ref": "#/components/examples/404"
                  }
                }
              }
            }
          },
          "406": {
            "description": "Not acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeaderErrorResponse"
                },
                "examples": {
                  "Not acceptable": {
                    "$ref": "#/components/examples/406"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Unsupported media type": {
                    "$ref": "#/components/examples/415"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Internal server error": {
                    "$ref": "#/components/examples/500"
                  }
                }
              }
            }
          }
        },
        "x-orderingPosition": "8"
      }
    },
    "/api/payments/{linkData}/cancellations": {
      "post": {
        "tags": [
          "Manage Payments"
        ],
        "summary": "Submit a payment cancel request",
        "description": "Cancel a payment. `linkData` refers to the pre-encoded segment of the URL that uniquely identifies a payment resource. It appears immediately after `/payments/` and continues until the next `/` or URL delimiter.",
        "operationId": "cancel",
        "parameters": [
          {
            "name": "linkData",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "WP-Api-Version",
            "in": "header",
            "description": "The API version",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The API version",
              "example": "2024-06-01",
              "enum": [
                "2024-06-01"
              ]
            },
            "example": "2024-06-01"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The content type",
              "example": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelResponse"
                },
                "examples": {
                  "sentForCancellation": {
                    "$ref": "#/components/examples/sent-for-cancellation-202"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/401"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Not found": {
                    "$ref": "#/components/examples/404"
                  }
                }
              }
            }
          },
          "406": {
            "description": "Not acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeaderErrorResponse"
                },
                "examples": {
                  "Not acceptable": {
                    "$ref": "#/components/examples/406"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Unsupported media type": {
                    "$ref": "#/components/examples/415"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Internal server error": {
                    "$ref": "#/components/examples/500"
                  }
                }
              }
            }
          }
        },
        "x-orderingPosition": "9"
      }
    }
  },
  "components": {
    "schemas": {
      "PaymentsActionPartialRefund": {
        "type": "object",
        "properties": {
          "href": {
            "type": "string"
          },
          "method": {
            "type": "string",
            "default": "POST"
          }
        },
        "description": "Partially refund the payment."
      },
      "PaymentsActionRefund": {
        "type": "object",
        "properties": {
          "href": {
            "type": "string"
          },
          "method": {
            "type": "string",
            "default": "POST"
          }
        },
        "description": "Fully refund the payment. See [details](../payments-lifecycle/refund)"
      },
      "PaymentsLink": {
        "type": "object",
        "properties": {
          "self": {
            "$ref": "#/components/schemas/Self"
          }
        },
        "description": "Return details about the status of the payment"
      },
      "Self": {
        "type": "object",
        "properties": {
          "href": {
            "type": "string"
          }
        }
      },
      "SettleActionList": {
        "type": "object",
        "properties": {
          "refundPayment": {
            "$ref": "#/components/schemas/PaymentsActionRefund"
          },
          "partiallyRefundPayment": {
            "$ref": "#/components/schemas/PaymentsActionPartialRefund"
          }
        }
      },
      "SettleResponse": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "enum": [
              "3dsDeviceDataRequired",
              "authorized",
              "3dsChallenged",
              "sentForSettlement",
              "sentForCancellation",
              "refused",
              "3dsAuthenticationFailed",
              "3dsUnavailable",
              "fraudHighRisk",
              "sentForRefund",
              "sentForPartialRefund"
            ]
          },
          "_links": {
            "$ref": "#/components/schemas/PaymentsLink"
          },
          "_actions": {
            "$ref": "#/components/schemas/SettleActionList"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errorName": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "HeaderErrorResponse": {
        "type": "object",
        "properties": {
          "errorName": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "headerName": {
            "type": "string"
          }
        }
      },
      "RefundResponse": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "enum": [
              "3dsDeviceDataRequired",
              "authorized",
              "3dsChallenged",
              "sentForSettlement",
              "sentForCancellation",
              "refused",
              "3dsAuthenticationFailed",
              "3dsUnavailable",
              "fraudHighRisk",
              "sentForRefund",
              "sentForPartialRefund"
            ]
          },
          "_links": {
            "$ref": "#/components/schemas/PaymentsLink"
          }
        }
      },
      "PaymentsPartialSettleRequest": {
        "required": [
          "reference",
          "value"
        ],
        "type": "object",
        "properties": {
          "reference": {
            "type": "string"
          },
          "sequence": {
            "$ref": "#/components/schemas/PaymentsSequence"
          },
          "value": {
            "$ref": "#/components/schemas/Value"
          }
        }
      },
      "PaymentsSequence": {
        "required": [
          "number",
          "total"
        ],
        "type": "object",
        "properties": {
          "number": {
            "type": "integer",
            "format": "int32"
          },
          "total": {
            "type": "integer",
            "format": "int32"
          }
        },
        "description": "The sequence number and total number of expected partial settlement requests for the payment."
      },
      "Value": {
        "required": [
          "amount",
          "currency"
        ],
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": " The three character currency code. See list of <a href=\"/products/reference/supported-countries-currencies#iso-currency-codes\">supported currencies</a> ",
            "example": "USD"
          },
          "amount": {
            "type": "integer",
            "description": "The payment amount. Implied decimal. For example, 250 GBP = £2.50\nWhen set to `0` will perform a card verification instead of a payment as part of a new `customerAgreement`.",
            "format": "int32",
            "example": 250
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "errorName": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "jsonPath": {
            "type": "string"
          }
        }
      },
      "PartialSettleActionList": {
        "type": "object",
        "properties": {
          "refundPayment": {
            "$ref": "#/components/schemas/PaymentsActionRefund"
          },
          "partiallyRefundPayment": {
            "$ref": "#/components/schemas/PaymentsActionPartialRefund"
          },
          "partiallySettlePayment": {
            "$ref": "#/components/schemas/PaymentsActionPartialSettle"
          },
          "cancelPayment": {
            "$ref": "#/components/schemas/PaymentsActionCancel"
          }
        }
      },
      "PartialSettleResponse": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "enum": [
              "3dsDeviceDataRequired",
              "authorized",
              "3dsChallenged",
              "sentForSettlement",
              "sentForCancellation",
              "refused",
              "3dsAuthenticationFailed",
              "3dsUnavailable",
              "fraudHighRisk",
              "sentForRefund",
              "sentForPartialRefund"
            ]
          },
          "_links": {
            "$ref": "#/components/schemas/PaymentsLink"
          },
          "_actions": {
            "$ref": "#/components/schemas/PartialSettleActionList"
          }
        }
      },
      "PaymentsActionCancel": {
        "type": "object",
        "properties": {
          "href": {
            "type": "string"
          },
          "method": {
            "type": "string",
            "default": "POST"
          }
        },
        "description": "Cancel the payment. See [details](../payments-lifecycle/cancel)"
      },
      "PaymentsActionPartialSettle": {
        "type": "object",
        "properties": {
          "href": {
            "type": "string"
          },
          "method": {
            "type": "string",
            "default": "POST"
          }
        },
        "description": "Partially settle the payment. See [details](../payments-lifecycle/partialsettle) including what to add in the request body."
      },
      "PaymentsPartialRefundRequest": {
        "required": [
          "reference",
          "value"
        ],
        "type": "object",
        "properties": {
          "reference": {
            "type": "string"
          },
          "value": {
            "$ref": "#/components/schemas/Value"
          }
        }
      },
      "PartialRefundActionList": {
        "type": "object",
        "properties": {
          "partiallyRefundPayment": {
            "$ref": "#/components/schemas/PaymentsActionPartialRefund"
          }
        }
      },
      "PartialRefundResponse": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "enum": [
              "3dsDeviceDataRequired",
              "authorized",
              "3dsChallenged",
              "sentForSettlement",
              "sentForCancellation",
              "refused",
              "3dsAuthenticationFailed",
              "3dsUnavailable",
              "fraudHighRisk",
              "sentForRefund",
              "sentForPartialRefund"
            ]
          },
          "_links": {
            "$ref": "#/components/schemas/PaymentsLink"
          },
          "_actions": {
            "$ref": "#/components/schemas/PartialRefundActionList"
          }
        }
      },
      "CancelResponse": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "enum": [
              "3dsDeviceDataRequired",
              "authorized",
              "3dsChallenged",
              "sentForSettlement",
              "sentForCancellation",
              "refused",
              "3dsAuthenticationFailed",
              "3dsUnavailable",
              "fraudHighRisk",
              "sentForRefund",
              "sentForPartialRefund"
            ]
          },
          "_links": {
            "$ref": "#/components/schemas/PaymentsLink"
          }
        }
      },
      "DeviceDataRequest": {
        "type": "object",
        "properties": {
          "collectionReference": {
            "type": "string",
            "description": "Add the `sessionId` provided in the [postMessage for the device data collection form (web)](/products/payments/enable-features/3ds-authentication/web) or for native (iOS/Android), returned as `consumerSessionId` as part of [SDK initialization](/products/payments/enable-features/3ds-authentication/android-ios). <br><br>__Note:__ If device data collection fails you can attempt the payment without this value, but you will see an increased number of `challenged` and even `authenticationFailed` outcomes, if this happens for a lot of requests."
          }
        }
      },
      "Advice": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          }
        },
        "description": "Contains suggested next actions for this request."
      },
      "Authentication": {
        "type": "object",
        "properties": {
          "version": {
            "maxLength": 10,
            "minLength": 1,
            "type": "string",
            "description": "The version of 3DS used to process the transaction.",
            "example": "2.2.0"
          },
          "type": {
            "type": "string"
          },
          "authenticationValue": {
            "type": "string"
          },
          "eci": {
            "maxLength": 2,
            "minLength": 1,
            "type": "string",
            "description": "Electronic Commerce Indicator (ECI). Indicates the outcome of the 3DS authentication."
          },
          "transactionId": {
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "description": "A transaction identifier."
          },
          "cryptogramAlgorithm": {
            "type": "integer",
            "format": "int32"
          },
          "challengePreference": {
            "type": "string"
          },
          "authenticationFlow": {
            "type": "string"
          },
          "networkScore": {
            "type": "string"
          },
          "brand": {
            "type": "string"
          }
        },
        "description": "Object that contains authentication related information."
      },
      "AuthorizationActionList": {
        "type": "object",
        "properties": {
          "cancelPayment": {
            "$ref": "#/components/schemas/PaymentsActionCancel"
          },
          "settlePayment": {
            "$ref": "#/components/schemas/PaymentsActionSettle"
          },
          "partiallySettlePayment": {
            "$ref": "#/components/schemas/PaymentsActionPartialSettle"
          }
        }
      },
      "BillingAddress": {
        "required": [
          "address1",
          "city",
          "countryCode"
        ],
        "type": "object",
        "properties": {
          "address1": {
            "maxLength": 80,
            "minLength": 1,
            "type": "string",
            "description": "Address line 1"
          },
          "address2": {
            "maxLength": 80,
            "minLength": 1,
            "type": "string",
            "description": "Address line 2"
          },
          "address3": {
            "maxLength": 80,
            "minLength": 1,
            "type": "string",
            "description": "Address line 3"
          },
          "postalCode": {
            "maxLength": 15,
            "minLength": 1,
            "type": "string",
            "description": "\n Required for all countries except the following:            * IE"
          },
          "city": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Address City"
          },
          "state": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "Address State"
          },
          "countryCode": {
            "type": "string",
            "description": "Must be provided in [ISO 3166-1 alpha-2 format](/products/reference/supported-countries-currencies#iso-country-codes).",
            "format": "ISO 3166-1 alpha-2"
          }
        },
        "description": "Contains the billing address information."
      },
      "CardAuthorizedPaymentResponse": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/DeviceDataResponse201"
          }
        ],
        "required": [
          "outcome"
        ],
        "properties": {
          "outcome": {
            "type": "string",
            "enum": [
              "3dsDeviceDataRequired",
              "authorized",
              "3dsChallenged",
              "sentForSettlement",
              "sentForCancellation",
              "refused",
              "3dsAuthenticationFailed",
              "3dsUnavailable",
              "fraudHighRisk",
              "sentForRefund",
              "sentForPartialRefund"
            ]
          },
          "transactionReference": {
            "maxLength": 64,
            "minLength": 1,
            "pattern": "^[-A-Za-z0-9_!@#$%()*=.:;?\\[\\]{}~`/+]*$",
            "type": "string",
            "description": " A unique reference generated by you that is used to identify a payment throughout its lifecycle. "
          },
          "paymentInstrument": {
            "$ref": "#/components/schemas/PaymentsResponsePaymentInstrument"
          },
          "updatedPaymentInstrument": {
            "$ref": "#/components/schemas/UpdatedPaymentInstrument"
          },
          "issuer": {
            "$ref": "#/components/schemas/Issuer"
          },
          "riskFactors": {
            "type": "array",
            "description": " Any risk factors which have been identified for the authorization. This section will not appear if no risks are identified. ",
            "items": {
              "$ref": "#/components/schemas/RiskFactor"
            }
          },
          "fraud": {
            "$ref": "#/components/schemas/Fraud"
          },
          "threeDS": {
            "$ref": "#/components/schemas/Verification"
          },
          "exemption": {
            "$ref": "#/components/schemas/PaymentsExemption"
          },
          "schemeReference": {
            "type": "string",
            "description": "An object containing information returned by the scheme."
          },
          "token": {
            "$ref": "#/components/schemas/Token"
          },
          "_links": {
            "$ref": "#/components/schemas/PaymentsLink"
          },
          "_actions": {
            "$ref": "#/components/schemas/AuthorizationActionList"
          }
        }
      },
      "ChallengeInfo": {
        "type": "object",
        "properties": {
          "reference": {
            "type": "string",
            "example": "uswuxaOZm7onSjO664M1"
          },
          "url": {
            "type": "string",
            "example": "https://centinelapistag.cardinalcommerce.com/V2/Cruise/StepUp"
          },
          "jwt": {
            "type": "string",
            "example": "\n\n\n\n\neyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJPcmdVbml0SWQiOiI2NjAzMDA3YWJlMjMxZTM1ZTNmNTRjODkiLCJPYmplY3RpZnlQYXlsb2FkIjpmYWxzZSwiaXNzIjoiNjYwMzAwN2ExNmRkOWE3ZTZhMDMzNDA3IiwiUmV0dXJuVXJsIjoiaHR0cDovL3BheW1lbnQuZXhhbXBsZS5jb20iLCJQYXlsb2FkIjoie1wiUGF5bG9hZFwiOlwiZXlKdFpYTnpZV2RsVkhsd1pTSTZJa05TWlhFaUxDSnRaWE56WVdkbFZtVnljMmx2YmlJNklqSXVNUzR3SWl3aWRHaHlaV1ZFVTFObGNuWmxjbFJ5WVc1elNVUWlPaUl4WlRNMllqUmxOeTFoTnpNMExUUXhabU10T0RrMFppMDJaVFU0TWpNMll6WXhaRFlpTENKaFkzTlVjbUZ1YzBsRUlqb2lOR1ZrT1dReU1HUXRZekEwTUMwMFlqbGhMVGd5TUdFdE9ERTFNelUwTlRoaVpqZGxJaXdpWTJoaGJHeGxibWRsVjJsdVpHOTNVMmw2WlNJNklqQTBJbjBcIixcIkFDU1VybFwiOlwiaHR0cHM6XFwvXFwvMW1lcmNoYW50YWNzc3RhZy5jYXJkaW5hbGNvbW1lcmNlLmNvbVxcL01lcmNoYW50QUNTV2ViXFwvY3JlcS5qc3BcIixcIlRyYW5zYWN0aW9uSWRcIjpcInVzd3V4YU9abTdvblNqTzY2NE0xXCJ9IiwiZXhwIjoxNzEyMzE4MjI1LCJpYXQiOjE3MTIzMTc2MjUsImp0aSI6IjJhZmQzYzBjLWYzNzEtNDNkMC1iNTkyLTJhYzY5MjkxODdmOSJ9.cL8rPZkdHmatwrmV990NzmAmPe9nxrp65A8gm6ifprQ"
          },
          "payload": {
            "type": "string",
            "example": "\n\neyJtZXNzYWdlVHlwZSI6IkNSZXEiLCJtZXNzYWdlVmVyc2lvbiI6IjIuMS4wIiwidGhyZWVEU1NlcnZlclRyYW5zSUQiOiIxZTM2YjRlNy1hNzM0LTQxZmMtODk0Zi02ZTU4MjM2YzYxZDYiLCJhY3NUcmFuc0lEIjoiNGVkOWQyMGQtYzA0MC00YjlhLTgyMGEtODE1MzU0NThiZjdlIiwiY2hhbGxlbmdlV2luZG93U2l6ZSI6IjA0In0"
          }
        }
      },
      "ChallengedActionList": {
        "type": "object",
        "properties": {
          "complete3dsChallenge": {
            "$ref": "#/components/schemas/PaymentsActionComplete3dsChallenge"
          }
        }
      },
      "ChallengedResponse": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/DeviceDataResponse201"
          }
        ],
        "required": [
          "outcome"
        ],
        "properties": {
          "outcome": {
            "type": "string",
            "enum": [
              "3dsDeviceDataRequired",
              "authorized",
              "3dsChallenged",
              "sentForSettlement",
              "sentForCancellation",
              "refused",
              "3dsAuthenticationFailed",
              "3dsUnavailable",
              "fraudHighRisk",
              "sentForRefund",
              "sentForPartialRefund"
            ]
          },
          "transactionReference": {
            "maxLength": 64,
            "minLength": 1,
            "pattern": "^[-A-Za-z0-9_!@#$%()*=.:;?\\[\\]{}~`/+]*$",
            "type": "string",
            "description": " A unique reference generated by you that is used to identify a payment throughout its lifecycle. "
          },
          "authentication": {
            "$ref": "#/components/schemas/Authentication"
          },
          "challenge": {
            "$ref": "#/components/schemas/ChallengeInfo"
          },
          "_actions": {
            "$ref": "#/components/schemas/ChallengedActionList"
          }
        }
      },
      "ConflictPaymentInstrument": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "cardNumber": {
            "type": "string"
          },
          "cardHolderName": {
            "type": "string"
          },
          "cardExpiryDate": {
            "$ref": "#/components/schemas/ExpiryDate"
          },
          "billingAddress": {
            "$ref": "#/components/schemas/BillingAddress"
          }
        }
      },
      "DeviceDataResponse201": {
        "type": "object",
        "required": [
          "outcome"
        ],
        "properties": {
          "outcome": {
            "type": "string",
            "enum": [
              "3dsDeviceDataRequired",
              "authorized",
              "3dsChallenged",
              "sentForSettlement",
              "sentForCancellation",
              "refused",
              "3dsAuthenticationFailed",
              "3dsUnavailable",
              "fraudHighRisk",
              "sentForRefund",
              "sentForPartialRefund"
            ]
          },
          "transactionReference": {
            "maxLength": 64,
            "minLength": 1,
            "pattern": "^[-A-Za-z0-9_!@#$%()*=.:;?\\[\\]{}~`/+]*$",
            "type": "string",
            "description": " A unique reference generated by you that is used to identify a payment throughout its lifecycle. "
          }
        },
        "discriminator": {
          "propertyName": "outcome",
          "mapping": {
            "authorized": "#/components/schemas/CardAuthorizedPaymentResponse",
            "refused": "#/components/schemas/PaymentRefusedResponse",
            "3dsChallenged": "#/components/schemas/ChallengedResponse",
            "3dsAuthenticationFailed": "#/components/schemas/UnsuccessfulAuthenticationResponse",
            "3dsUnavailable": "#/components/schemas/PaymentsResponse"
          }
        }
      },
      "ExpiryDate": {
        "required": [
          "month",
          "year"
        ],
        "type": "object",
        "properties": {
          "year": {
            "type": "integer",
            "format": "int32",
            "example": 2028
          },
          "month": {
            "type": "integer",
            "format": "int32",
            "example": 6
          }
        },
        "description": "Contains your customer's card or token expiry date."
      },
      "Fraud": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "description": " outcome of the fraud assessment. `highRisk` outcomes stop the transaction before payment. ",
            "enum": [
              "lowRisk",
              "highRisk",
              "review",
              "error",
              "lowRisk(silentMode)",
              "highRisk(silentMode)",
              "review(silentMode)",
              "error(silentMode)"
            ]
          },
          "score": {
            "type": "number",
            "description": " The score calculated by the fraud assessment, set score thresholds are used to define lowRisk, highRisk and review outcomes ",
            "format": "double",
            "example": 44
          }
        },
        "description": "Details of the outcome of the Fraud assessment"
      },
      "Issuer": {
        "type": "object",
        "properties": {
          "authorizationCode": {
            "type": "string"
          }
        },
        "description": "An object containing information returned by the issuer."
      },
      "PaymentRefusedResponse": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/DeviceDataResponse201"
          }
        ],
        "required": [
          "outcome"
        ],
        "properties": {
          "outcome": {
            "type": "string",
            "enum": [
              "3dsDeviceDataRequired",
              "authorized",
              "3dsChallenged",
              "sentForSettlement",
              "sentForCancellation",
              "refused",
              "3dsAuthenticationFailed",
              "3dsUnavailable",
              "fraudHighRisk",
              "sentForRefund",
              "sentForPartialRefund"
            ]
          },
          "transactionReference": {
            "maxLength": 64,
            "minLength": 1,
            "pattern": "^[-A-Za-z0-9_!@#$%()*=.:;?\\[\\]{}~`/+]*$",
            "type": "string",
            "description": " A unique reference generated by you that is used to identify a payment throughout its lifecycle. "
          },
          "refusalDescription": {
            "type": "string",
            "description": "Additional context on the refusal."
          },
          "refusalCode": {
            "type": "string",
            "description": "Response code for the request."
          },
          "advice": {
            "$ref": "#/components/schemas/Advice"
          },
          "paymentInstrument": {
            "$ref": "#/components/schemas/PaymentsResponsePaymentInstrument"
          },
          "updatedPaymentInstrument": {
            "$ref": "#/components/schemas/UpdatedPaymentInstrument"
          },
          "riskFactors": {
            "type": "array",
            "description": " Any risk factors which have been identified for the authorization. This section will not appear if no risks are identified. ",
            "items": {
              "$ref": "#/components/schemas/RiskFactor"
            }
          },
          "fraud": {
            "$ref": "#/components/schemas/Fraud"
          },
          "threeDS": {
            "$ref": "#/components/schemas/Verification"
          },
          "exemption": {
            "$ref": "#/components/schemas/PaymentsExemption"
          },
          "token": {
            "$ref": "#/components/schemas/Token"
          }
        }
      },
      "PaymentsActionComplete3dsChallenge": {
        "type": "object",
        "properties": {
          "href": {
            "type": "string"
          },
          "method": {
            "type": "string",
            "default": "POST"
          }
        },
        "description": "Resume the payment following the 3DS challenge being completed by the customer. See [details](../3ds-actions/complete3dschallenge)"
      },
      "PaymentsActionSettle": {
        "type": "object",
        "properties": {
          "href": {
            "type": "string"
          },
          "method": {
            "type": "string",
            "default": "POST"
          }
        },
        "description": "Fully settle the payment. See [details](../payments-lifecycle/settle)"
      },
      "PaymentsExemption": {
        "type": "object",
        "properties": {
          "granted": {
            "type": "boolean",
            "description": "Was an exemption returned by Worldpay's TRA assessment.",
            "enum": [
              true,
              false
            ]
          },
          "placement": {
            "type": "string",
            "description": "Indicates whether the exemption has been placed in a payment authorization request or 3DS authentication request.",
            "enum": [
              "authorization"
            ],
            "x-enumDescriptions": {
              "authorization": "Exemption applied in the payment authorization."
            }
          },
          "type": {
            "type": "string",
            "description": "The type of applied exemption.",
            "enum": [
              "lowRisk",
              "lowValue"
            ],
            "x-enumDescriptions": {
              "lowValue": "Applied a `lowValue` exemption",
              "lowRisk": "Applied a `lowRisk` exemption"
            }
          },
          "result": {
            "type": "string",
            "description": "The result of the exemption placement request.",
            "enum": [
              "honored",
              "outOfScope",
              "rejected",
              "unknown"
            ],
            "x-enumDescriptions": {
              "rejected": "Possible __reason__: `issuerRejected`, `highRisk`, `invalid`, `unsupportedScheme`, `notSubscribed`, `unsupportedAcquirer` or `unknown`",
              "honored": "Possible __reason__: `issuerHonored` or `unknown`",
              "outOfScope": "Possible __reason__: `merchantInitiatedTransaction`, `oneLegOut`, `moto`, `contactless` or `unknown`",
              "unknown": "Possible __reason__: `unknown`"
            }
          },
          "reason": {
            "type": "string",
            "description": "The reason returned by the card issuer.",
            "enum": [
              "issuerHonored",
              "merchantInitiatedTransaction",
              "oneLegOut",
              "issuerHonored",
              "moto",
              "contactless",
              "issuerRejected",
              "highRisk",
              "invalid",
              "unsupportedScheme",
              "unsupportedAcquirer",
              "unknown"
            ]
          }
        },
        "description": "An object containing information about the exemption."
      },
      "PaymentsResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DeviceDataResponse201"
          }
        ],
        "required": [
          "outcome"
        ],
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "enum": [
              "3dsDeviceDataRequired",
              "authorized",
              "3dsChallenged",
              "sentForSettlement",
              "sentForCancellation",
              "refused",
              "3dsAuthenticationFailed",
              "3dsUnavailable",
              "fraudHighRisk",
              "sentForRefund",
              "sentForPartialRefund"
            ]
          },
          "transactionReference": {
            "maxLength": 64,
            "minLength": 1,
            "pattern": "^[-A-Za-z0-9_!@#$%()*=.:;?\\[\\]{}~`/+]*$",
            "type": "string",
            "description": " A unique reference generated by you that is used to identify a payment throughout its lifecycle. "
          }
        }
      },
      "PaymentsResponsePaymentInstrument": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "cardBin": {
            "type": "string"
          },
          "lastFour": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          },
          "expiryDate": {
            "$ref": "#/components/schemas/ExpiryDate"
          },
          "cardBrand": {
            "type": "string"
          },
          "fundingType": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "issuerName": {
            "type": "string"
          },
          "paymentAccountReference": {
            "type": "string"
          }
        }
      },
      "RiskFactor": {
        "type": "object",
        "properties": {
          "risk": {
            "type": "string",
            "enum": [
              "notChecked",
              "notMatched",
              "notSupplied",
              "verificationFailed"
            ]
          },
          "detail": {
            "type": "string",
            "enum": [
              "address",
              "postcode"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "avs",
              "cvc",
              "riskProfile"
            ]
          }
        },
        "description": " Any risk factors which have been identified for the authorization. This section will not appear if no risks are identified. "
      },
      "Token": {
        "type": "object",
        "properties": {
          "href": {
            "type": "string",
            "example": "https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoiUW5rZHBXZDZ1MzBBY0I0MTVJQUdPeGE3ZkFobE1lTjJyYk05eDZxQUJ2RT0ifQ"
          },
          "tokenId": {
            "type": "string",
            "example": "9997095516055002467"
          },
          "tokenExpiryDateTime": {
            "type": "string",
            "example": "2024-04-12T11:49:56Z"
          },
          "cardNumber": {
            "type": "string",
            "example": "4000********1091"
          },
          "cardHolderName": {
            "type": "string",
            "example": "Sherlock Holmes"
          },
          "cardExpiry": {
            "$ref": "#/components/schemas/ExpiryDate"
          },
          "bin": {
            "type": "string",
            "example": "400000"
          },
          "fundingType": {
            "type": "string",
            "example": "debit"
          },
          "countryCode": {
            "type": "string"
          },
          "schemeReference": {
            "type": "string",
            "example": "060720116005060"
          },
          "conflicts": {
            "$ref": "#/components/schemas/TokenResponseConflicts"
          }
        },
        "description": "Details of the token created"
      },
      "TokenResponseConflicts": {
        "type": "object",
        "properties": {
          "conflictsExpiryDateTime": {
            "type": "string"
          },
          "schemeReference": {
            "type": "string"
          },
          "paymentInstrument": {
            "$ref": "#/components/schemas/ConflictPaymentInstrument"
          }
        }
      },
      "UnsuccessfulAuthenticationResponse": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/DeviceDataResponse201"
          }
        ],
        "required": [
          "outcome"
        ],
        "properties": {
          "outcome": {
            "type": "string",
            "enum": [
              "3dsDeviceDataRequired",
              "authorized",
              "3dsChallenged",
              "sentForSettlement",
              "sentForCancellation",
              "refused",
              "3dsAuthenticationFailed",
              "3dsUnavailable",
              "fraudHighRisk",
              "sentForRefund",
              "sentForPartialRefund"
            ]
          },
          "transactionReference": {
            "maxLength": 64,
            "minLength": 1,
            "pattern": "^[-A-Za-z0-9_!@#$%()*=.:;?\\[\\]{}~`/+]*$",
            "type": "string",
            "description": " A unique reference generated by you that is used to identify a payment throughout its lifecycle. "
          },
          "authentication": {
            "$ref": "#/components/schemas/Authentication"
          }
        }
      },
      "UpdatedPaymentInstrument": {
        "type": "object",
        "properties": {
          "appliedNetworkToken": {
            "type": "boolean",
            "description": "Returned if the payment instrument was swapped for a network token."
          },
          "type": {
            "type": "string",
            "example": "card/plain+masked",
            "enum": [
              "card/plain",
              "card/plain+masked"
            ]
          },
          "accountUpdaterMessage": {
            "type": "string",
            "description": "Details on the type of payment instrument update.",
            "example": "The account number was changed",
            "enum": [
              "The merchant is not registered in the update program",
              "The account number was changed",
              "The account was closed",
              "The expiry was changed",
              "The issuing bank does not participate in the update program",
              "Contact the cardholder for updated information",
              "No match found",
              "The account number was changed"
            ]
          },
          "cardNumber": {
            "type": "string"
          },
          "cardBin": {
            "type": "string",
            "description": "The updated card BIN (Bank Identification Number).",
            "example": "444433"
          },
          "lastFour": {
            "type": "string",
            "description": "The four digits of the updated card. Some characters may be obfuscated with a * if the PAN length is less than 16 characters.",
            "example": "1111"
          },
          "expiryDate": {
            "$ref": "#/components/schemas/ExpiryDate"
          },
          "cardBrand": {
            "type": "string",
            "description": "The brand of the updated card. In rare circumstances a card may be reissued under a different brand."
          },
          "fundingType": {
            "type": "string",
            "description": "How the card is funded."
          },
          "countryCode": {
            "type": "string"
          }
        },
        "description": "Details of the updated payment instrument."
      },
      "Verification": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "description": "If the request was authenticated successfully or an authentication outage exemption was applied in authorization. See details on [Authentication Outage](/products/payments/enable-features/3ds-authentication#how-to-enable-authentication-outage-exemptions)",
            "default": "authenticated",
            "enum": [
              "authenticated",
              "authenticationOutage"
            ]
          },
          "issuerResponse": {
            "description": "If the issuer decides to challenge the customer or proceed (frictionless)",
            "enum": [
              "frictionless",
              "challenged"
            ]
          },
          "version": {
            "maxLength": 10,
            "minLength": 1,
            "type": "string",
            "description": "The version of 3DS used to process the transaction."
          },
          "eci": {
            "maxLength": 2,
            "minLength": 1,
            "type": "string",
            "description": "Electronic Commerce Indicator (ECI). Indicates the outcome of the 3DS authentication.\n\n| ECI | Meaning |\n| --- | --- |\n| 02 or 05 | Fully Authenticated Transaction\n| 01 or 06 | Attempted Authentication Transaction\n| 00 or 07 | Non 3-D Secure Transaction\n\n| Scheme | Value |\n| --- | --- |\n| Mastercard | 02, 01, 00 |\n| Visa | 05, 06, 07 |\n| Amex | 05, 06, 07 |\n| JCB | 05, 06, 07 |\n| Diners | 05, 06, 07 |"
          },
          "acsTransactionId": {
            "maxLength": 36,
            "minLength": 1,
            "type": "string",
            "description": "An identifier assigned by the Access Control Server (ACS) to identify a single transaction. Used primarily for Mastercard 3RI subsequent transactions to link the subsequent transaction back to a previous cardholder authentication. Can be disregarded unless otherwise needed."
          },
          "dsTransactionId": {
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "description": "Directory server transaction Id, if provided should be used in the payment authorization authentication object."
          },
          "status": {
            "maxLength": 2,
            "minLength": 1,
            "type": "string",
            "description": "Indicates the outcome of the authentication or verification request.\n- `Y` - Successful authentication\n- `N` - Failed authentication\n- `U` - Unable to complete authentication\n- `A` - Successful attempts authentication\n- `C` - Challenged authentication\n- `R` - Authentication rejected (merchant _must not_ submit for authorization)\n- `I` - Exemption acknowledged\n"
          },
          "challengePreference": {
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "description": "Indicates the preferred challenge behavior. __Returned for Cartes Bancaires authentications only__ and must be applied in the following authorization request.\n- `noPreference`\n- `noChallengeRequested`\n- `challengeRequested`\n- `challengeMandated`\n- `noChallengeRequestedTRAPerformed`"
          }
        },
        "description": "Details of the outcome of the 3DS authentication"
      },
      "DeviceDataResponse202": {
        "type": "object",
        "required": [
          "outcome"
        ],
        "properties": {
          "outcome": {
            "type": "string",
            "enum": [
              "3dsDeviceDataRequired",
              "authorized",
              "3dsChallenged",
              "sentForSettlement",
              "sentForCancellation",
              "refused",
              "3dsAuthenticationFailed",
              "3dsUnavailable",
              "fraudHighRisk",
              "sentForRefund",
              "sentForPartialRefund"
            ]
          },
          "transactionReference": {
            "maxLength": 64,
            "minLength": 1,
            "pattern": "^[-A-Za-z0-9_!@#$%()*=.:;?\\[\\]{}~`/+]*$",
            "type": "string",
            "description": " A unique reference generated by you that is used to identify a payment throughout its lifecycle. "
          }
        },
        "discriminator": {
          "propertyName": "outcome",
          "mapping": {
            "sentForSettlement": "#/components/schemas/SentForSettlementResponse",
            "sentForCancellation": "#/components/schemas/SentForCancellationResponse"
          }
        }
      },
      "SentForCancellationResponse": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/DeviceDataResponse202"
          }
        ],
        "required": [
          "outcome"
        ],
        "properties": {
          "outcome": {
            "type": "string",
            "enum": [
              "3dsDeviceDataRequired",
              "authorized",
              "3dsChallenged",
              "sentForSettlement",
              "sentForCancellation",
              "refused",
              "3dsAuthenticationFailed",
              "3dsUnavailable",
              "fraudHighRisk",
              "sentForRefund",
              "sentForPartialRefund"
            ]
          },
          "transactionReference": {
            "maxLength": 64,
            "minLength": 1,
            "pattern": "^[-A-Za-z0-9_!@#$%()*=.:;?\\[\\]{}~`/+]*$",
            "type": "string",
            "description": " A unique reference generated by you that is used to identify a payment throughout its lifecycle. "
          },
          "paymentInstrument": {
            "$ref": "#/components/schemas/PaymentsResponsePaymentInstrument"
          },
          "updatedPaymentInstrument": {
            "$ref": "#/components/schemas/UpdatedPaymentInstrument"
          },
          "issuer": {
            "$ref": "#/components/schemas/Issuer"
          },
          "riskFactors": {
            "type": "array",
            "description": " Any risk factors which have been identified for the authorization. This section will not appear if no risks are identified. ",
            "items": {
              "$ref": "#/components/schemas/RiskFactor"
            }
          },
          "fraud": {
            "$ref": "#/components/schemas/Fraud"
          },
          "threeDS": {
            "$ref": "#/components/schemas/Verification"
          },
          "exemption": {
            "$ref": "#/components/schemas/PaymentsExemption"
          },
          "schemeReference": {
            "type": "string",
            "description": "An object containing information returned by the scheme."
          },
          "token": {
            "$ref": "#/components/schemas/Token"
          },
          "_links": {
            "$ref": "#/components/schemas/PaymentsLink"
          }
        }
      },
      "SentForSettlementActionList": {
        "type": "object",
        "properties": {
          "refundPayment": {
            "$ref": "#/components/schemas/PaymentsActionRefund"
          },
          "partiallyRefundPayment": {
            "$ref": "#/components/schemas/PaymentsActionPartialRefund"
          }
        }
      },
      "SentForSettlementResponse": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/DeviceDataResponse202"
          }
        ],
        "required": [
          "outcome"
        ],
        "properties": {
          "outcome": {
            "type": "string",
            "enum": [
              "3dsDeviceDataRequired",
              "authorized",
              "3dsChallenged",
              "sentForSettlement",
              "sentForCancellation",
              "refused",
              "3dsAuthenticationFailed",
              "3dsUnavailable",
              "fraudHighRisk",
              "sentForRefund",
              "sentForPartialRefund"
            ]
          },
          "transactionReference": {
            "maxLength": 64,
            "minLength": 1,
            "pattern": "^[-A-Za-z0-9_!@#$%()*=.:;?\\[\\]{}~`/+]*$",
            "type": "string",
            "description": " A unique reference generated by you that is used to identify a payment throughout its lifecycle. "
          },
          "paymentInstrument": {
            "$ref": "#/components/schemas/PaymentsResponsePaymentInstrument"
          },
          "updatedPaymentInstrument": {
            "$ref": "#/components/schemas/UpdatedPaymentInstrument"
          },
          "issuer": {
            "$ref": "#/components/schemas/Issuer"
          },
          "riskFactors": {
            "type": "array",
            "description": " Any risk factors which have been identified for the authorization. This section will not appear if no risks are identified. ",
            "items": {
              "$ref": "#/components/schemas/RiskFactor"
            }
          },
          "fraud": {
            "$ref": "#/components/schemas/Fraud"
          },
          "threeDS": {
            "$ref": "#/components/schemas/Verification"
          },
          "exemption": {
            "$ref": "#/components/schemas/PaymentsExemption"
          },
          "schemeReference": {
            "type": "string",
            "description": "An object containing information returned by the scheme."
          },
          "token": {
            "$ref": "#/components/schemas/Token"
          },
          "_links": {
            "$ref": "#/components/schemas/PaymentsLink"
          },
          "_actions": {
            "$ref": "#/components/schemas/SentForSettlementActionList"
          }
        }
      },
      "ChallengeResponse202": {
        "type": "object",
        "required": [
          "outcome"
        ],
        "properties": {
          "outcome": {
            "type": "string",
            "enum": [
              "3dsDeviceDataRequired",
              "authorized",
              "3dsChallenged",
              "sentForSettlement",
              "sentForCancellation",
              "refused",
              "3dsAuthenticationFailed",
              "3dsUnavailable",
              "fraudHighRisk",
              "sentForRefund",
              "sentForPartialRefund"
            ]
          }
        },
        "discriminator": {
          "propertyName": "outcome",
          "mapping": {
            "sentForSettlement": "#/components/schemas/SentForSettlementResponse",
            "sentForCancellation": "#/components/schemas/SentForCancellationResponse"
          }
        }
      },
      "ChallengeResponse201": {
        "type": "object",
        "required": [
          "outcome"
        ],
        "properties": {
          "outcome": {
            "type": "string",
            "enum": [
              "3dsDeviceDataRequired",
              "authorized",
              "3dsChallenged",
              "sentForSettlement",
              "sentForCancellation",
              "refused",
              "3dsAuthenticationFailed",
              "3dsUnavailable",
              "fraudHighRisk",
              "sentForRefund",
              "sentForPartialRefund"
            ]
          },
          "transactionReference": {
            "maxLength": 64,
            "minLength": 1,
            "pattern": "^[-A-Za-z0-9_!@#$%()*=.:;?\\[\\]{}~`/+]*$",
            "type": "string",
            "description": " A unique reference generated by you that is used to identify a payment throughout its lifecycle. "
          }
        },
        "discriminator": {
          "propertyName": "outcome",
          "mapping": {
            "authorized": "#/components/schemas/CardAuthorizedPaymentResponse",
            "refused": "#/components/schemas/PaymentRefusedResponse",
            "3dsAuthenticationFailed": "#/components/schemas/UnsuccessfulAuthenticationResponse",
            "3dsUnavailable": "#/components/schemas/PaymentsResponse"
          }
        }
      },
      "AccountHistory": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Date the customer account was created."
          },
          "modifiedAt": {
            "type": "string",
            "description": "Date the customer account was last modified."
          },
          "passwordModifiedAt": {
            "type": "string",
            "description": "Date the password for the customer account was last modified."
          },
          "paymentAccountEnrolledAt": {
            "type": "string",
            "description": "Date the payment account was added to the cardholder account."
          }
        },
        "description": "Customer account history."
      },
      "ApplepayPaymentsInstruction": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PaymentsInstruction"
          }
        ],
        "required": [
          "method",
          "narrative",
          "paymentInstrument",
          "value"
        ],
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "description": "The method of instruction.",
            "enum": [
              "applepay"
            ]
          },
          "paymentInstrument": {
            "required": [
              "type",
              "walletToken"
            ],
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "The type of instrument.",
                "enum": [
                  "encrypted"
                ]
              },
              "walletToken": {
                "type": "string"
              },
              "billingAddress": {
                "$ref": "#/components/schemas/BillingAddress"
              }
            }
          },
          "narrative": {
            "$ref": "#/components/schemas/Narrative"
          },
          "value": {
            "$ref": "#/components/schemas/Value"
          },
          "debtRepayment": {
            "type": "boolean",
            "description": "A flag which identifies a payment as being for the purpose of repaying a debt."
          },
          "exemption": {
            "$ref": "#/components/schemas/Exemption"
          },
          "settlement": {
            "$ref": "#/components/schemas/Settlement"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "shipping": {
            "$ref": "#/components/schemas/Shipping"
          },
          "recipient": {
            "$ref": "#/components/schemas/PaymentsRecipient"
          },
          "consumerBillPayment": {
            "type": "boolean",
            "description": "An attribute that identifies a bill payment paid by providers on behalf of consumers. If you are registered with Visa as a Consumer of the Bill Payment Service (CBPS), you must set this to `true` for any payments associated with the CBPS."
          },
          "requestAccountUpdater": {
            "type": "boolean",
            "description": "Allows you to request a real-time account update (Visa cards only) when using a previously stored card. You can only use this on subsequent card requests."
          }
        }
      },
      "Cancellation": {
        "type": "object",
        "properties": {
          "cvcNotMatched": {
            "type": "string",
            "description": "By default a payment will be `sentForCancellation` if the CVC is `notMatched`, set `disabled` to continue with `sentForSettlement`.",
            "enum": [
              "enabled",
              "disabled"
            ]
          },
          "avsNotMatched": {
            "type": "string",
            "description": "By default a payment will be `sentForCancellation` if the `address` or `postcode` AVS is `notMatched`, set `disabled` to continue with `sentForSettlement`.",
            "enum": [
              "enabled",
              "disabled"
            ]
          }
        },
        "description": "Configuration for when a payment is `sentForCancellation` automatically."
      },
      "CardPaymentInstrument": {
        "required": [
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of instrument."
          }
        },
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "plain": "#/components/schemas/PaymentsCardPlainPaymentInstrument",
            "token": "#/components/schemas/TokenPaymentInstrument",
            "checkout": "#/components/schemas/SessionPaymentInstrument",
            "networkToken": "#/components/schemas/PaymentsNetworkTokenPaymentInstrument"
          }
        }
      },
      "CardPaymentsInstruction": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PaymentsInstruction"
          }
        ],
        "required": [
          "method",
          "narrative",
          "paymentInstrument",
          "value"
        ],
        "type": "object",
        "properties": {
          "method": {
[...]
